/* line 1, ../../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button,
a.sf-nux-button {
  background: #00aadc;
  border-color: #0087be;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  height: auto;
  line-height: 21px;
  border-radius: 4px;
  margin: 0;
  padding: 7px 14px 9px;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: baseline;
}
/* line 28, ../../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button:hover, .sf-nux .sf-nux-button:focus,
a.sf-nux-button:hover,
a.sf-nux-button:focus {
  border-color: #005082;
  color: white;
}
/* line 34, ../../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button:focus,
a.sf-nux-button:focus {
  box-shadow: 0 0 0 2px #78dcfa;
}
/* line 38, ../../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button:active,
a.sf-nux-button:active {
  border-width: 2px 1px 1px;
  box-shadow: none;
  vertical-align: baseline;
}
/* line 44, ../../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button[disabled], .sf-nux .sf-nux-button:disabled,
a.sf-nux-button[disabled],
a.sf-nux-button:disabled {
  color: white;
  background: #bceefd;
  border-color: #8cc9e2;
  cursor: default;
}
/* line 51, ../../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button[disabled]:active, .sf-nux .sf-nux-button:disabled:active,
a.sf-nux-button[disabled]:active,
a.sf-nux-button:disabled:active {
  border-width: 1px 1px 2px;
}

/* line 5, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour {
  display: block;
  background-color: #23282d;
  background-color: rgba(35, 40, 45, 0.95);
  border-radius: 5px;
  box-shadow: 3px 1px 5px -2px rgba(0, 0, 0, 0.145);
  color: #A4A4A4;
  font-size: 1.1em;
  z-index: 999999998;
  text-align: left;
  box-sizing: border-box;
  position: fixed;
  left: 5px;
  width: 360px;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  opacity: 0;
}
/* line 27, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour:before {
  content: '';
  position: absolute;
  top: 30px;
  left: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 14px 0;
  border-color: transparent #23282d transparent transparent;
}
/* line 39, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour .sf-guided-tour-step {
  padding: 30px;
  overflow: hidden;
}
/* line 43, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour .sf-guided-tour-step p {
  font-size: 1em;
  line-height: 1.7;
}
/* line 48, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour .sf-guided-tour-step h2 {
  margin-top: 0;
  font-size: 1.1em;
  font-weight: 500;
  color: #fff;
}
/* line 55, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour .sf-guided-tour-step .sf-guided-tour-skip {
  margin-left: 10px;
  color: #00AADC;
}
/* line 59, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour .sf-guided-tour-step .sf-guided-tour-skip:hover {
  opacity: .75;
}
/* line 67, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour:not(.sf-first-step) .sf-guided-tour-step a.sf-nux-button {
  display: none;
}
/* line 71, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour:not(.sf-first-step) .sf-guided-tour-step .sf-guided-tour-skip {
  display: block;
  float: right;
}
/* line 80, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour.sf-inside-section .sf-guided-tour-step a.sf-nux-button {
  display: inline-block;
}
/* line 84, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour.sf-inside-section .sf-guided-tour-step .sf-guided-tour-skip {
  display: none;
}
/* line 92, ../../assets/sass/admin/customizer/customizer.scss */
.sf-guided-tour.sf-last-step .sf-guided-tour-step a.sf-nux-button {
  display: inline-block;
}

/* line 99, ../../assets/sass/admin/customizer/customizer.scss */
a.sf-nux-button {
  vertical-align: middle;
}
/* line 102, ../../assets/sass/admin/customizer/customizer.scss */
a.sf-nux-button:active {
  vertical-align: middle;
}

/* line 107, ../../assets/sass/admin/customizer/customizer.scss */
.sf-loaded {
  opacity: 1;
}

/* line 111, ../../assets/sass/admin/customizer/customizer.scss */
.sf-moving {
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.84, 0.45, 0.68, 1.44);
}

/* line 119, ../../assets/sass/admin/customizer/customizer.scss */
.sf-entering .sf-guided-tour,
.sf-exiting .sf-guided-tour {
  animation-duration: .30s;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: .30s;
  -webkit-animation-timing-function: ease-in-out;
}

/* line 128, ../../assets/sass/admin/customizer/customizer.scss */
.sf-entering .sf-guided-tour {
  animation-name: bounceInLeft;
  -webkit-animation-name: bounceInLeft;
}

/* line 135, ../../assets/sass/admin/customizer/customizer.scss */
.sf-exiting .sf-guided-tour {
  animation-name: bounceOutRight;
  -webkit-animation-name: bounceOutRight;
}

@-webkit-keyframes bounceInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes bounceOutRight {
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@keyframes bounceOutRight {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
