/* line 1, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button,
a.sf-nux-button {
  background: #00aadc;
  border-color: #0087be;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  height: auto;
  line-height: 21px;
  border-radius: 4px;
  margin: 0;
  padding: 7px 14px 9px;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: baseline;
}
/* line 28, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button:hover, .sf-nux .sf-nux-button:focus,
a.sf-nux-button:hover,
a.sf-nux-button:focus {
  border-color: #005082;
  color: white;
}
/* line 34, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button:focus,
a.sf-nux-button:focus {
  box-shadow: 0 0 0 2px #78dcfa;
}
/* line 38, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button:active,
a.sf-nux-button:active {
  border-width: 2px 1px 1px;
  box-shadow: none;
  vertical-align: baseline;
}
/* line 44, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button[disabled], .sf-nux .sf-nux-button:disabled,
a.sf-nux-button[disabled],
a.sf-nux-button:disabled {
  color: white;
  background: #bceefd;
  border-color: #8cc9e2;
  cursor: default;
}
/* line 51, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button[disabled]:active, .sf-nux .sf-nux-button:disabled:active,
a.sf-nux-button[disabled]:active,
a.sf-nux-button:disabled:active {
  border-width: 1px 1px 2px;
}

/* line 3, ../assets/sass/admin/admin.scss */
.sf-notice-nux {
  background: #E9EFF3;
  border: 10px solid #fff;
  color: #608299;
  padding: 60px;
  text-align: center;
  box-shadow: none;
}
/* line 11, ../assets/sass/admin/admin.scss */
.sf-notice-nux:before, .sf-notice-nux:after {
  content: "";
  display: table;
}
/* line 17, ../assets/sass/admin/admin.scss */
.sf-notice-nux:after {
  clear: both;
}
/* line 21, ../assets/sass/admin/admin.scss */
.sf-notice-nux .notice-content {
  max-width: 420px;
  margin: 0 auto;
}
/* line 26, ../assets/sass/admin/admin.scss */
.sf-notice-nux .sf-icon {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 100%;
  margin: 0 auto 30px;
}
/* line 35, ../assets/sass/admin/admin.scss */
.sf-notice-nux .sf-icon img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 16px;
  box-sizing: border-box;
  max-width: 100%;
}
/* line 48, ../assets/sass/admin/admin.scss */
.sf-notice-nux h2 {
  margin: 0 0 10px;
  font-weight: normal;
  color: #2E4453;
}
/* line 54, ../assets/sass/admin/admin.scss */
.sf-notice-nux p {
  margin: 0 0 2em 0;
  padding: 0;
  line-height: 1.6;
}
/* line 60, ../assets/sass/admin/admin.scss */
.sf-notice-nux label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}
/* line 65, ../assets/sass/admin/admin.scss */
.sf-notice-nux label:last-of-type {
  margin-bottom: 2em;
}
/* line 70, ../assets/sass/admin/admin.scss */
.sf-notice-nux .sf-plugin-card {
  display: block;
}

/* line 77, ../assets/sass/admin/admin.scss */
.sf-nux-button.updating-message:before {
  display: inline-block;
  content: "\f463";
  font: normal 20px/1 'dashicons';
  margin: 3px 5px 0 -2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}

@media only screen and (max-width: 782px) {
  /* line 93, ../assets/sass/admin/admin.scss */
  .sf-notice-nux .sf-icon {
    width: 65px;
    height: 65px;
  }
  /* line 97, ../assets/sass/admin/admin.scss */
  .sf-notice-nux .sf-icon img {
    padding: 10px;
  }
  /* line 102, ../assets/sass/admin/admin.scss */
  .sf-notice-nux form {
    margin-top: 30px;
  }
  /* line 107, ../assets/sass/admin/admin.scss */
  .sf-notice-nux label:last-of-type {
    margin-top: 20px;
  }
}
