/* line 1, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button,
a.sf-nux-button {
  background: #00aadc;
  border-color: #0087be;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  height: auto;
  line-height: 21px;
  border-radius: 4px;
  margin: 0;
  padding: 7px 14px 9px;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: baseline;
}
/* line 28, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button:hover, .sf-nux .sf-nux-button:focus,
a.sf-nux-button:hover,
a.sf-nux-button:focus {
  border-color: #005082;
  color: white;
}
/* line 34, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button:focus,
a.sf-nux-button:focus {
  box-shadow: 0 0 0 2px #78dcfa;
}
/* line 38, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button:active,
a.sf-nux-button:active {
  border-width: 2px 1px 1px;
  box-shadow: none;
  vertical-align: baseline;
}
/* line 44, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button[disabled], .sf-nux .sf-nux-button:disabled,
a.sf-nux-button[disabled],
a.sf-nux-button:disabled {
  color: white;
  background: #bceefd;
  border-color: #8cc9e2;
  cursor: default;
}
/* line 51, ../assets/sass/admin/buttons.scss */
.sf-nux .sf-nux-button[disabled]:active, .sf-nux .sf-nux-button:disabled:active,
a.sf-nux-button[disabled]:active,
a.sf-nux-button:disabled:active {
  border-width: 1px 1px 2px;
}
