/*
Error: File to import not found or unreadable: bourbon.
       Load paths:
         Compass::SpriteImporter
         /Applications/MAMP/htdocs/nGimat/wp-content/themes/storefront/assets/sass
         /Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/compass-core-1.0.3/stylesheets
        on line 1 of /Applications/MAMP/htdocs/nGimat/wp-content/themes/storefront/assets/sass/admin/welcome-screen/welcome.scss

1: @import 'bourbon';
2: @import '../../../../assets/sass/utils/variables';
3: @import '../../../../assets/sass/utils/mixins';
4: @import '../../../../assets/sass/vendors/modular-scale';
5: 
6: $green: #45B964;

Backtrace:
/Applications/MAMP/htdocs/nGimat/wp-content/themes/storefront/assets/sass/admin/welcome-screen/welcome.scss:1
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/import_node.rb:45:in `import'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/tree/root_node.rb:20:in `render'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bourbon.\A        Load paths:\A          Compass::SpriteImporter\A          /Applications/MAMP/htdocs/nGimat/wp-content/themes/storefront/assets/sass\A          /Users/dhunt/.rvm/gems/ruby-2.3.3-railsexpress/gems/compass-core-1.0.3/stylesheets\A         on line 1 of /Applications/MAMP/htdocs/nGimat/wp-content/themes/storefront/assets/sass/admin/welcome-screen/welcome.scss\A \A 1: @import 'bourbon';\A 2: @import '../../../../assets/sass/utils/variables';\A 3: @import '../../../../assets/sass/utils/mixins';\A 4: @import '../../../../assets/sass/vendors/modular-scale';\A 5: \A 6: $green: #45B964;"; }
