.site-footer{
	text-align: center;
	.footer-widgets{
		display: inline-block;
		width: 100%;
		.footer-widget-1{
			display: block;
			width: 100%;
			margin: 0;
			text-align: center;
			.widget{
				img{
					display: block;
					margin: 0 auto;
				}
			}
		}
		.footer-widget-2{
	    display: inline-block;
	    width: 100%;
	    .widget_nav_menu{
	    	margin: 0;
	    	.menu-primary-menu-container{
	    		display: inline-block;
	    		ul{
	    			list-style: none;
	    			display: inline-block;
	    			li{
	    				display: inline-block;
	    				.sub-menu{
	    					display: none;
	    				}
	    				&:before{
	    					display: none;
	    				}
	    				&.current-menu-item{
		    				a{
		    					color: #63b4f7;
		    				}
		    			}
	    				a{
								font-family: 'Open Sans Condensed', sans-serif;
								color: white;
								text-transform: uppercase;
	    				}
	    			}
	    		}
	    	}
	    }
	  }
	}
	.site-info{
		font-family: helvetica;
		color: white;
		font-weight: bold;
		padding: 10px 0;
		font-size: 8pt;
		a{
			color: #63b4f7 !important; 
		}
	}
}