body{
	#page{
		#content{
			.header{
				position: absolute;
				z-index: 1;
				text-align: center;
				left: 0;
				right: 0;
				font-family: 'Open Sans Condensed', sans-serif;
				color: white;
				line-height: 55px;
				.inner{
					display: inline-block;
					padding: 25px 80px;
					border: 1px solid white;
					margin-top: 20vh;
					.top{
						font-weight: bold;
						font-size: 45pt;
						text-transform: uppercase;
					}
					.middle{
						font-weight: lighter;
						font-size: 40pt;
						letter-spacing: 1px;
						text-transform: uppercase;
						padding-bottom: 20px; 
					}
					.bottom{
						font-weight: bold;
						font-size: 14pt;
						margin-bottom: -10px;
						text-transform: uppercase;
					}				
					a{
						text-transform: uppercase;
						font-size: 14pt;
					}	
				}
			}
			.image{
				position: relative;
				top: 0;
				display: inline-block;				
				width: 100%;
				img{
					width: 100%;
					display: inline-block;
				}
			}
			.tag{
				display: inline-block;
				width: 100%;
				padding: 20px 0;
				text-align: center;
				background: #333333;
				margin-top: -10px;
				color: white;
				font-size: 24pt;
				font-family: 'Open Sans Condensed', sans-serif;
				color: white;
				text-transform: uppercase;
				font-weight: bold;
				p{
					margin: 0;
				}
			}
			#primary{
				margin: 0;
				#main{
					display: block;
					margin: 0 auto;
					width: 95%;
					padding: 0;
					max-width: 1100px;
					.left{
						width: 65%;
						display: inline-block;
						float: left;
						padding: 75px 0 0 0;
						h1{
							font-family: 'Open Sans Condensed', sans-serif;
							color: white;
							font-size: 20pt;
						}
						p{
							color: white;
							font-family: helvetica;
							font-size: 11pt;
							text-align: justify;
						}
						ul{
							list-style: none;
							li{
								padding: 5px 0; 
								a{
									text-transform: uppercase;
								}
							}
						}
					}
					.right{
						background: #ffb20e;
						width: 25%;
						float: right;
						display: inline-block;
						height: 100%;
						padding: 50px 25px;
						h2{
							font-family: 'Open Sans Condensed', sans-serif;
							color: black;
							font-size: 20pt;
						}						
						ul{
							list-style: none;
							margin: 0;
							padding: 0;
							li{
								display: inline-block;
								margin-bottom: 15px;
								.post-date{
									font-weight: bold;
									color: black;
									font-size: 10pt;
									&:after{
										content: ':';
										display: inline-block;
									}
								}
								p{
									display: inline;
									color: black;
									line-height: 18px;
									font-size: 10pt;
									a{
										font-weight: bold;
										color: #446C89;
									}
								}
							}
						}
					}
					.page {
						margin: 0;
					}
				}
			}
		}
	}
}

