body{
	#page{
		.site-header{
			.site-contact{
				list-style: none;
				display: inline-block;
				margin: 0;
				li{
					display: inline-block;	
					color: white;
				}
			}
			.site-branding{
				display: block;
				margin: 0 auto;
				text-align: center;
				width: 75%;
				max-width: 250px;
				position: relative;
				float: none;
				margin-top: -50px;
			}
			.site-search{
				display: inline-block;
				width: 25%;
				float: right;
				margin-top: -100px;
				form{
					input{
						border-radius: 50px;
					}
				}
			}
			.primary-navigation{
				text-align: center;
				ul{
					list-style: none;
					li{
						padding: 0 15px;
						&.menu-item-has-children{
							a{
								&:after{
									left: -13px !important;
								}
							}
						}						
						.sub-menu{
							li{
								padding: 0;
								&.current-menu-item{
									a{
										color: #ffb20e;
										&:hover{
											color: #ffb20e;	
										}
									}
								}
								a{
									font-size: 10pt;
									font-weight: bold;
									&:hover{
										color: #63B4F7;
									}
									&:after{
										display: none;
									}
								}
							}
						}
						&.current-menu-item{
							.sub-menu{
								li{
									a{
										color: white;
										&:hover{
											color: #63B4F7;
										}
									}
								}
							}
							a{
								color: black;
								&:after{
									content: '';
									display: inline-block;
									width: 100%;
									height: 100%;
									position: absolute;
									left: 0;
									top: 10px;
									z-index: -1;
									background: #63B4F7;
								}
								&:hover{
									color: black;
								}
							}
						}
						a{
							color: white;
							text-transform: uppercase;
							font-family: 'Open Sans Condensed', sans-serif;
							&:hover{
								color:  #63B4F7;
							}
						}
					}
				}
			}
		}
	}
}