body{
  #page{
  	.woocommerce-breadcrumb{
  		background: black;
  		border-top: 1px solid rgba(255,255,255,.15);
  		border-bottom: 3px solid #ffb20e;
  		a{
  			color: #ffb20e;
  		}
  	}
    #second{
			.site-main{
				display: block;
				width: 95%;
				max-width: 900px;
				margin: 0 auto;
				h1{
					font-family: 'Open Sans Condensed', sans-serif;
					font-size: 20pt;
					color: #ffb20e;
				}				
				h2{
					font-family: 'Open Sans Condensed', sans-serif;
					color: #ffb20e;
					font-size: 14pt;
				}						
				p{
					color: white;
				}
				ul{
					color: white;
					display: inline-block;
					li{
						font-weight: bold;
						ul{
							display: block;
							margin-left: 50px;
						}
					}
				}
				img{
					padding: 0 25px 25px 0;
				}
				hr{
					margin: 60px 0 30px 0;
				}
			}    	
    }
    #news{
			.site-main{
				display: block;
				width: 95%;
				max-width: 900px;
				margin: 0 auto;
				h1{
					font-family: 'Open Sans Condensed', sans-serif;
					font-size: 20pt;
					color: #ffb20e;
				}					
				article{
					border-bottom: 1px solid rgba(255,255,255,.15);
					padding-bottom: 20px;
					margin-bottom: 30px;
					&:last-of-type{
						border-bottom: none;
					}
					.entry-header{
						margin-bottom: 20px;
						h2{
							font-family: 'Open Sans Condensed', sans-serif;
							color: #ffb20e;
							font-size: 14pt;
						}	
						.posted-on{
							font-weight: bold;
							color: white;
							font-size: 9pt;
						}	
					}
					.entry-content{
						width: 100%;
					}			
				}
				p{
					color: white;
				}
				ul{
					color: white;
					display: inline-block;
					li{
						font-weight: bold;
						ul{
							display: block;
							margin-left: 50px;
						}
					}
				}
				img{
					padding: 0 25px 25px 0;
				}
				hr{
					margin: 60px 0 30px 0;
				}
			}    	
    }    
  }
}