/* line 1, assets/sass/footer.scss */
.site-footer {
  text-align: center;
}
/* line 3, assets/sass/footer.scss */
.site-footer .footer-widgets {
  display: inline-block;
  width: 100%;
}
/* line 6, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-1 {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
}
/* line 12, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-1 .widget img {
  display: block;
  margin: 0 auto;
}
/* line 18, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 {
  display: inline-block;
  width: 100%;
}
/* line 21, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_nav_menu {
  margin: 0;
}
/* line 23, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_nav_menu .menu-primary-menu-container {
  display: inline-block;
}
/* line 25, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_nav_menu .menu-primary-menu-container ul {
  list-style: none;
  display: inline-block;
}
/* line 28, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_nav_menu .menu-primary-menu-container ul li {
  display: inline-block;
}
/* line 30, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_nav_menu .menu-primary-menu-container ul li .sub-menu {
  display: none;
}
/* line 33, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_nav_menu .menu-primary-menu-container ul li:before {
  display: none;
}
/* line 37, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_nav_menu .menu-primary-menu-container ul li.current-menu-item a {
  color: #63b4f7;
}
/* line 41, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_nav_menu .menu-primary-menu-container ul li a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  text-transform: uppercase;
}
/* line 52, assets/sass/footer.scss */
.site-footer .site-info {
  font-family: helvetica;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  font-size: 8pt;
}
/* line 58, assets/sass/footer.scss */
.site-footer .site-info a {
  color: #63b4f7 !important;
}
