/* line 4, assets/sass/home.scss */
body #page #content .header {
  position: absolute;
  z-index: 1;
  text-align: center;
  left: 0;
  right: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  line-height: 55px;
}
/* line 13, assets/sass/home.scss */
body #page #content .header .inner {
  display: inline-block;
  padding: 25px 80px;
  border: 1px solid white;
  margin-top: 20vh;
}
/* line 18, assets/sass/home.scss */
body #page #content .header .inner .top {
  font-weight: bold;
  font-size: 45pt;
  text-transform: uppercase;
}
/* line 23, assets/sass/home.scss */
body #page #content .header .inner .middle {
  font-weight: lighter;
  font-size: 40pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
/* line 30, assets/sass/home.scss */
body #page #content .header .inner .bottom {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: -10px;
  text-transform: uppercase;
}
/* line 36, assets/sass/home.scss */
body #page #content .header .inner a {
  text-transform: uppercase;
  font-size: 14pt;
}
/* line 42, assets/sass/home.scss */
body #page #content .image {
  position: relative;
  top: 0;
  display: inline-block;
  width: 100%;
}
/* line 47, assets/sass/home.scss */
body #page #content .image img {
  width: 100%;
  display: inline-block;
}
/* line 52, assets/sass/home.scss */
body #page #content .tag {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #333333;
  margin-top: -10px;
  color: white;
  font-size: 24pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 65, assets/sass/home.scss */
body #page #content .tag p {
  margin: 0;
}
/* line 69, assets/sass/home.scss */
body #page #content #primary {
  margin: 0;
}
/* line 71, assets/sass/home.scss */
body #page #content #primary #main {
  display: block;
  margin: 0 auto;
  width: 95%;
  padding: 0;
  max-width: 1100px;
}
/* line 77, assets/sass/home.scss */
body #page #content #primary #main .left {
  width: 65%;
  display: inline-block;
  float: left;
  padding: 75px 0 0 0;
}
/* line 82, assets/sass/home.scss */
body #page #content #primary #main .left h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 20pt;
}
/* line 87, assets/sass/home.scss */
body #page #content #primary #main .left p {
  color: white;
  font-family: helvetica;
  font-size: 11pt;
  text-align: justify;
}
/* line 93, assets/sass/home.scss */
body #page #content #primary #main .left ul {
  list-style: none;
}
/* line 95, assets/sass/home.scss */
body #page #content #primary #main .left ul li {
  padding: 5px 0;
}
/* line 97, assets/sass/home.scss */
body #page #content #primary #main .left ul li a {
  text-transform: uppercase;
}
/* line 103, assets/sass/home.scss */
body #page #content #primary #main .right {
  background: #ffb20e;
  width: 25%;
  float: right;
  display: inline-block;
  height: 100%;
  padding: 50px 25px;
}
/* line 110, assets/sass/home.scss */
body #page #content #primary #main .right h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-size: 20pt;
}
/* line 115, assets/sass/home.scss */
body #page #content #primary #main .right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 119, assets/sass/home.scss */
body #page #content #primary #main .right ul li {
  display: inline-block;
  margin-bottom: 15px;
}
/* line 122, assets/sass/home.scss */
body #page #content #primary #main .right ul li .post-date {
  font-weight: bold;
  color: black;
  font-size: 10pt;
}
/* line 126, assets/sass/home.scss */
body #page #content #primary #main .right ul li .post-date:after {
  content: ':';
  display: inline-block;
}
/* line 131, assets/sass/home.scss */
body #page #content #primary #main .right ul li p {
  display: inline;
  color: black;
  line-height: 18px;
  font-size: 10pt;
}
/* line 136, assets/sass/home.scss */
body #page #content #primary #main .right ul li p a {
  font-weight: bold;
  color: #446C89;
}
/* line 144, assets/sass/home.scss */
body #page #content #primary #main .page {
  margin: 0;
}
