/* line 1, assets/sass/main.scss */
html {
  height: 100%;
  display: inline-block;
  width: 100%;
}

/* line 6, assets/sass/main.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: inline-block;
  width: 100%;
  overflow: visible;
  background: #1A1A1A;
}
