/* line 4, assets/sass/navigation.scss */
body #page .site-header .site-contact {
  list-style: none;
  display: inline-block;
  margin: 0;
}
/* line 8, assets/sass/navigation.scss */
body #page .site-header .site-contact li {
  display: inline-block;
  color: white;
}
/* line 13, assets/sass/navigation.scss */
body #page .site-header .site-branding {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 75%;
  max-width: 250px;
  position: relative;
  float: none;
  margin-top: -50px;
}
/* line 23, assets/sass/navigation.scss */
body #page .site-header .site-search {
  display: inline-block;
  width: 25%;
  float: right;
  margin-top: -100px;
}
/* line 29, assets/sass/navigation.scss */
body #page .site-header .site-search form input {
  border-radius: 50px;
}
/* line 34, assets/sass/navigation.scss */
body #page .site-header .primary-navigation {
  text-align: center;
}
/* line 36, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul {
  list-style: none;
}
/* line 38, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li {
  padding: 0 15px;
}
/* line 42, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li.menu-item-has-children a:after {
  left: -13px !important;
}
/* line 48, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li .sub-menu li {
  padding: 0;
}
/* line 51, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li .sub-menu li.current-menu-item a {
  color: #ffb20e;
}
/* line 53, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li .sub-menu li.current-menu-item a:hover {
  color: #ffb20e;
}
/* line 58, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li .sub-menu li a {
  font-size: 10pt;
  font-weight: bold;
}
/* line 61, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li .sub-menu li a:hover {
  color: #63B4F7;
}
/* line 64, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li .sub-menu li a:after {
  display: none;
}
/* line 73, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li.current-menu-item .sub-menu li a {
  color: white;
}
/* line 75, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li.current-menu-item .sub-menu li a:hover {
  color: #63B4F7;
}
/* line 81, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li.current-menu-item a {
  color: black;
}
/* line 83, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li.current-menu-item a:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -1;
  background: #63B4F7;
}
/* line 94, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li.current-menu-item a:hover {
  color: black;
}
/* line 99, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li a {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}
/* line 103, assets/sass/navigation.scss */
body #page .site-header .primary-navigation ul li a:hover {
  color: #63B4F7;
}
