/* line 3, assets/sass/second.scss */
body #page .woocommerce-breadcrumb {
  background: black;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 3px solid #ffb20e;
}
/* line 7, assets/sass/second.scss */
body #page .woocommerce-breadcrumb a {
  color: #ffb20e;
}
/* line 12, assets/sass/second.scss */
body #page #second .site-main {
  display: block;
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}
/* line 17, assets/sass/second.scss */
body #page #second .site-main h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20pt;
  color: #ffb20e;
}
/* line 22, assets/sass/second.scss */
body #page #second .site-main h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffb20e;
  font-size: 14pt;
}
/* line 27, assets/sass/second.scss */
body #page #second .site-main p {
  color: white;
}
/* line 30, assets/sass/second.scss */
body #page #second .site-main ul {
  color: white;
  display: inline-block;
}
/* line 33, assets/sass/second.scss */
body #page #second .site-main ul li {
  font-weight: bold;
}
/* line 35, assets/sass/second.scss */
body #page #second .site-main ul li ul {
  display: block;
  margin-left: 50px;
}
/* line 41, assets/sass/second.scss */
body #page #second .site-main img {
  padding: 0 25px 25px 0;
}
/* line 44, assets/sass/second.scss */
body #page #second .site-main hr {
  margin: 60px 0 30px 0;
}
/* line 50, assets/sass/second.scss */
body #page #news .site-main {
  display: block;
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}
/* line 55, assets/sass/second.scss */
body #page #news .site-main h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20pt;
  color: #ffb20e;
}
/* line 60, assets/sass/second.scss */
body #page #news .site-main article {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 20px;
  margin-bottom: 30px;
}
/* line 64, assets/sass/second.scss */
body #page #news .site-main article:last-of-type {
  border-bottom: none;
}
/* line 67, assets/sass/second.scss */
body #page #news .site-main article .entry-header {
  margin-bottom: 20px;
}
/* line 69, assets/sass/second.scss */
body #page #news .site-main article .entry-header h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffb20e;
  font-size: 14pt;
}
/* line 74, assets/sass/second.scss */
body #page #news .site-main article .entry-header .posted-on {
  font-weight: bold;
  color: white;
  font-size: 9pt;
}
/* line 80, assets/sass/second.scss */
body #page #news .site-main article .entry-content {
  width: 100%;
}
/* line 84, assets/sass/second.scss */
body #page #news .site-main p {
  color: white;
}
/* line 87, assets/sass/second.scss */
body #page #news .site-main ul {
  color: white;
  display: inline-block;
}
/* line 90, assets/sass/second.scss */
body #page #news .site-main ul li {
  font-weight: bold;
}
/* line 92, assets/sass/second.scss */
body #page #news .site-main ul li ul {
  display: block;
  margin-left: 50px;
}
/* line 98, assets/sass/second.scss */
body #page #news .site-main img {
  padding: 0 25px 25px 0;
}
/* line 101, assets/sass/second.scss */
body #page #news .site-main hr {
  margin: 60px 0 30px 0;
}
